<!-- 
    The id attribute is set to the DOM ID of the user.
    This allows easy targeting and manipulation of the status indicator element.
    The DOM ID is generated using the dom_id(user) Rails helper.
-->
<%= turbo_stream_from "user_status:#{user.id}" %>
<div class="status-circle <%= user.status_to_css %>" id="user_status_<%= user.id %>"></div>

